<!DOCTYPE html>
<html>
    <head>
        <title>Runboat builds</title>
        <style>
            body {
                font-family: Arial, Helvetica, sans-serif;
            }
            .row {
                display: flex;
                flex-direction: row;
                border-style: none none solid none;
                border-width: thin;
                border-color: lightgray;
            }
            runboat-build {
                margin: 0.25em;
            }
            #footer {
                color: gray;
                font-size: small;
            }
        </style>
    </head>
    <body>
        <div id="builds">Connecting...</div>
        <div id="footer">
            {{ footer_html }}
            {{ additional_footer_html }}
        </div>
        <script type="module">
            import {RunboatBuildElement} from './runboat-build-element.js'
            customElements.define('runboat-build', RunboatBuildElement);

            var evtSource = null;

            function onopen(event) {
                console.log("connected");
                document.getElementById("builds").innerHTML = '';
            }

            function onmessage(event) {
                var oEvent = JSON.parse(event.data);
                var buildElement = document.getElementById(oEvent.build.name);
                if (oEvent.event == "upd") {
                    if (buildElement) {
                        // update build element
                        buildElement.build = oEvent.build;
                    } else {
                        var rowId = `branch-${oEvent.build.commit_info.target_branch}`;
                        if (oEvent.build.commit_info.pr) {
                            rowId += `-pr-${oEvent.build.commit_info.pr}`
                        }
                        var rowElement = document.getElementById(rowId);
                        if (!rowElement) {
                            // create row
                            rowElement = document.createElement("div");
                            rowElement.classList.add("row");
                            rowElement.id = rowId;
                            const buildsElement = document.getElementById("builds");
                            buildsElement.insertBefore(rowElement, buildsElement.firstChild);
                        }
                        // add build element to row
                        buildElement = document.createElement("runboat-build");
                        buildElement.id = oEvent.build.name;
                        buildElement.build = oEvent.build;
                        rowElement.insertBefore(buildElement, rowElement.firstChild);
                    }
                } else if (oEvent.event == "del") {
                    if (buildElement) {
                        buildElement.remove();
                    }
                }
            }

            function onerror(event) {
                evtSource.close();
                console.log("error, will attempt to reconnect");
                setTimeout(connect, 10000);
            }

            function connect() {
                console.log("connecting...")
                var url = `/api/v1/build-events${window.location.search}`
                evtSource = new EventSource(url);
                evtSource.onopen = onopen;
                evtSource.onmessage = onmessage;
                evtSource.onerror = onerror;
            }

            connect();
        </script>
    </body>
</html>
