<html>
    <head>
        <title>Runboat build</title>
        <style>
            body {
                font-family: Arial, Helvetica, sans-serif;
            }
            #footer {
                color: gray;
                font-size: small;
            }
        </style>
    </head>
    <body>
        <runboat-build id="build"></runboat-build>
        <p>Other builds for <a href="" id="repolink">this repo</a>.</p>
        <div id="footer">
            {{ footer_html }}
            {{ additional_footer_html }}
        </div>
        <script type="module">
            import {RunboatBuildElement} from './runboat-build-element.js'
            customElements.define('runboat-build', RunboatBuildElement);

            const buildName = new URLSearchParams(window.location.search).get("name");
            const buildElement = document.getElementById("build");
            const evtSource = new EventSource(`/api/v1/build-events?build_name=${buildName}`);
            evtSource.onmessage = function(event) {
                var oEvent = JSON.parse(event.data);
                const build = oEvent.build;
                buildElement.build = oEvent.event == "upd" ? build : {};
                const repolinkElement = document.getElementById("repolink");
                repolinkElement.href = `./builds.html?repo=${build.commit_info.repo}`;
                repolinkElement.text = build.commit_info.repo;
            }
            // TODO: evtSource error handling
        </script>
    </body>
</html>
