resources:
  - deployment.yaml
  - service.yaml
  - ingress.yaml

namespace: {{ namespace }}

nameSuffix: "-{{ build_name }}"

commonLabels:
  runboat/build: "{{ build_name }}"

commonAnnotations:
  runboat/repo: "{{ repo }}"
  runboat/target-branch: "{{ target_branch }}"
  runboat/pr: "{{ pr if pr else '' }}"
  runboat/commit: "{{ commit }}"

images:
  - name: odoo
    newName: "{{ image_name }}"
    newTag: "{{ image_tag }}"

secretGenerator:
  - name: odoosecretenv
    literals:
      - PGPASSWORD={{ pgpassword }}
      - ADMIN_PASSWD={{ admin_passwd }}

configMapGenerator:
  - name: odooenv
    literals:
      - PGHOST={{ pghost }}
      - PGPORT={{ pgport }}
      - PGUSER={{ pguser }}
      - PGNAME={{ pgname }}
      - PGDATABASE={{ pgdatabase }}
      - ADDONS_DIR=/build
      - RUNBOAT_GIT_REPO=https://github.com/{{ repo }}
      - RUNBOAT_GIT_REF={{ commit }}
  - name: runboat-scripts
    files:
      - runboat-clone-and-install.sh
      - runboat-init.sh
      - runboat-start.sh
  - name: vars
    literals:
      - HOSTNAME={{ hostname }}

vars:
  - name: HOSTNAME
    objref:
      name: vars
      kind: ConfigMap
      apiVersion: v1
    fieldref:
      fieldpath: data.HOSTNAME
